*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
button{
    background-color: rgb(80, 80, 177);
    cursor: pointer;
    padding: 4px, 10px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 600;
    width: fit-content;
}
button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
nav{
    background-color: aliceblue;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav .logo{
    font-weight: 700;
    font-size: 30px;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 500;
}
section{
    display: flex;
    padding: 100px;
    gap: 200px;
}
.about{
    padding: 30px;
}
.pic{
    height: 300px;
    width: 350px;
    border-radius: 300px;
    border: 2px solid rgb(194, 170, 125);
}
.button{
    text-align: center;
    justify-content: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 39, 39);
    color: azure;
    height: 45px;
    gap: 10px;
}
footer ul{
    display: flex;
    gap: 10px;
}

